# Python cache
__pycache__/

.DS_Store

/memo
/pyqcstrc.egg-info
/build/
/dist/
/MANIFEST.in
/README.txt
/README.rst
/pyqcstrc/__pycache__

*.zip
# Log files etc
*.nvvp
*.out
*.txt
*.log
*.so
*.c
*.ipynb
*.png
*.key
