# Python cache
__pycache__/

pyqcstrc.egg-info/

.DS_Store

/memo
/tmp
/old
/pyqcstrc.egg-info
/build/
/dist/
/tmp/
/MANIFEST.in
/README.txt
/README.rst
/src/pyqcstrc/pyqcstrc.egg-info
/src/pyqcstrc/__pycache__
/src/pyqcstrc/deca/__pycache__
/src/pyqcstrc/dode/__pycache__
/src/pyqcstrc/ico/__pycache__

/scripts
#/tests
#/xyz

*.zip
# Log files etc
*.nvvp
*.out
*.txt
*.log
*.so
*.c
*.ipynb
*.png
*.key
*.pdf
*.vesta
*.atm
*.pod
